#Wrapper {
	width: 30%;
	max-height: 50%;
	margin: 50px auto;
	padding: 30px;
	background: #D7FBFF;
  }
  
  .textInput {
	border: none;
	height: 28px;
	margin: 2px;
	border: 1px solid #6B7363;
	font-size: 1.2em;
	padding: 5px;
	width: 95%;
  }
  .textInput:focus {
	outline: none;
  }
  .btn {
	width: 98.6%;
	border: none;
	margin-top: 5px;
	color: white;
	background-color: #3b5998;
	border-radius: 5px;
	padding: 12px;
  }
  body {
	background:url(../../assets/pic3.jpg) no-repeat;
	padding-top:50px;
	background-size:cover ;
  }
  .fs {
	font-size: 15px;
	color:rgb(111, 0, 255);
	text-align: center;
  }